---
layout: page
title: Blog archive
---


<div class="page-content wc-container">
	<div class="post">
		<h1>Archiv</h1>  
        <a href="{{ 'Archiv' | relative_url }}">Details anzeigen</a>
		{% for post in site.posts %}
			{% capture currentdate %}{{post.date | date: "%B %Y"}}{% endcapture %}
			{% if currentdate != date %}
				{% unless forloop.first %}</ul>{% endunless %}
					<h5>{{ currentdate }}</h5>
					<ul class="posts">
					{% capture date %}{{currentdate}}{% endcapture %} 
				{% endif %}
			<li><a href="{{ post.url | relative_url }}">{{ post.title }}</a></li>
	{% endfor %}
	</div>
</div>
